<style>
    form.white-popup-block label {
        float: left;
        color: #1F497D;
        font-weight: bold;
    }
</style>
<style>
    form.white-popup-block label {
        float: left;
        color: #1F497D;
        font-weight: bold;
    }

    .login-Sidepanel {
        /*color: #fff;*/
        background: linear-gradient(90deg, rgba(237,245,255,1) 0%, rgba(204,223,247,1) 100%);
        /* background: linear-gradient(to bottom right, rgba(237,245,255,1), rgba(204,223,247,1));*/
        padding: 30px;
        padding-bottom: 153px;
    }

    form.white-popup-block .link-bottom {
        display: block;
        float: left;
        margin-bottom: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .clr_blue {
        color: #1F497D;
    }

    h4.fee_class {
        color: #1F497D;
    }

    form.white-popup-block .lost-pass-link {
        float: right;
        margin-top: 20px;
    }
    .card {
        /* Add shadows to create the "card" effect */

        border: 1px solid #ddd;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        transition: 0.3s;
        padding: 20px;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    h4.text-center {
        margin-bottom: 20px;
        font-weight: 600;
    }
</style>
<div ng-controller="ChangePasswordController">
    <div class="spacer"></div>
    <div class="container">
        <div class="col-md-12">
            <button class="btn  btn-primary back_button" ng-click="GoBack()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</button>
        </div>
    </div>
    <!-- Start Login
    ============================================= -->
    <div class="login-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="card">
                        <form class="">
                            <h4 class="text-center">Change Password</h4>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="sel1">Old Password:</label>
                                    <input type="password" class="form-control" ng-model="OldPassword" id="OldPassword">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="sel1">New Password:</label>
                                    <input type="password" class="form-control" maxlength="20" ng-model="NewPassword" id="NewPassword">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="pwd">Confirm Password:</label>
                                    <input type="password" class="form-control" maxlength="20" ng-model="ConfirmPassword" id="ConfirmPassword">
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-primary btn_margin pull-left" ng-click="SaveChangePassword()">Change Password</button>
                                <button type="reset" class="btn btn-danger btn_margin pull-right" ng-click="Exit()">Cancel</button>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-12">
                        <div class="notifylabel pull-right" for="sel1" style="color: red;margin-bottom:10px;font-size:16px">
                            Note : Password must be at least 8 characters and must include at least one upper case letter,
                            one lower case letter, one numeric digit and one special character(@#$%^&+=). e.g 12aAA12$.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login Area -->

</div>
