<style>
    form.white-popup-block label {
        float: left;
        color: #1F497D;
        font-weight: bold;
    }
</style>
<style>
    form.white-popup-block label {
        float: left;
        color: #1F497D;
        font-weight: bold;
    }

    .login-Sidepanel {
        /*color: #fff;*/
        background: linear-gradient(90deg, rgba(237,245,255,1) 0%, rgba(204,223,247,1) 100%);
        /* background: linear-gradient(to bottom right, rgba(237,245,255,1), rgba(204,223,247,1));*/
        padding: 30px;
        padding-bottom: 153px;
    }

    form.white-popup-block .link-bottom {
        display: block;
        float: left;
        margin-bottom: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .clr_blue {
        color: #1F497D;
    }

    h4.fee_class {
        color: #1F497D;
    }

    form.white-popup-block .lost-pass-link {
        float: right;
        margin-top: 20px;
    }
</style>
<div ng-controller="StudentChangePasswordController">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <!-- Start Login
    ============================================= -->
    <div class="login-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-2">
                    <form action="" id="login-form" class="white-popup-block">
                        <h4 class="text-center">Change Password</h4>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sel1">Old Password:</label>
                                <input type="password" class="form-control" ng-model="OldPassword" id="OldPassword">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sel1">New Password:</label>
                                <input type="password" class="form-control" maxlength="20" ng-model="NewPassword" id="NewPassword">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="pwd">Confirm Password:</label>
                                <input type="password" class="form-control" maxlength="20" ng-model="ConfirmPassword" id="ConfirmPassword">
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-primary btn_margin" ng-click="SaveChangePassword()">Change Password</button>
                            <button type="reset" class="btn btn-danger btn_margin" ng-click="Exit()">Cancel</button>
                        </div>



                    </form>
                    <div class="col-md-12">
                        <div class="notifylabel pull-right" for="sel1" style="color: red;margin-bottom:10px;font-size:16px">
                            Note : Password must be at least 8 characters and must include at least one upper case letter,
                            one lower case letter, one numeric digit and one special character(@#$%^&+=). e.g 12aAA12$.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login Area -->

</div>
