<style>
    input[type=checkbox] {
        margin: 4px 0 0;
        width: 20px;
        margin: 0px 10px !important;
        padding: 0px 10px;
        height: 20px;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Delete Details</h2>
        <button type="button" class="close" ng-click="closeModal1()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form>
            <div class="row">

                <div class="col-sm-6 col-md-9">
                    <div class="box box-primary">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!--<strong class="course-label">State Name:</strong>
    <span class="text-muted word-break fl-right" ng-repeat="DeleteData in DeleteData">
        {{DeleteData.StateName}}
    </span>
    <hr>-->
                            <!--<strong class="course-label">District Name:</strong>
                            <span class="text-muted word-break fl-right" ng-repeat="DeleteData in DeleteData">
                                {{DeleteData.DistrictName}}
                            </span>
                            <hr>
                            <strong class="course-label">Mandal Name:</strong>
                            <span class="text-muted word-break fl-right" ng-repeat="DeleteData1 in DeleteData1">
                                {{DeleteData1.MandalName}}
                            </span>
                            <hr>-->

                            <strong class="course-label"> Centre Code:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].CentreCode}}
                            </span>
                            <hr>

                            <strong class="course-label"> Centre Name:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].CentreName}}
                            </span>
                            <hr>
                            <strong class="course-label"> House Number / Building Name:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].HouseNumber}}
                            </span>
                            <hr>
                            <strong class="course-label"> Street Number / Name:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].StreetName}}
                            </span>
                            <hr>
                            <strong class="course-label"> Locality:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].Locality}}
                            </span>
                            <hr>
                            <strong class="course-label"> Landmark:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].Landmark}}
                            </span>
                            <hr>
                            <strong class="course-label"> Village:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].Village}}
                            </span>
                            <hr>

                            <strong class="course-label"> District:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].DistrictName}}
                            </span>
                            <hr>
                            <strong class="course-label"> Mandal:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].MandalName}}
                            </span>
                            <hr>

                            <strong class="course-label"> Postal pin code:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].Pincode}}
                            </span>
                            <hr>
                            <strong class="course-label"> Examination Centre CategoryName:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].ExaminationCentreCategoryName}}
                            </span>
                            <hr>
                            <strong class="course-label"> Urdu Medium:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].UrduMedium}}
                            </span>
                            <hr>
                            <strong class="course-label"> Centre Capacity OneperBench:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].CapacityOneperBench}}
                            </span>
                            <hr>
                            <strong class="course-label"> Centre Capacity TwoperBench:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].CapacityTwoperBench}}
                            </span>
                            <hr>
                            <strong class="course-label"> Priority Order:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].PriorityOrder}}
                            </span>
                            <hr>
                            <strong class="course-label"> Superitendent Name:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].CheifSuperitendentName}}
                            </span>
                            <hr>
                            <strong class="course-label"> Superitendent Mobile Number:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].CheifSuperitendentMobile}}
                            </span>
                            <hr>
                            <strong class="course-label"> Superitendent Email:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].CheifSuperitendentEmail}}
                            </span>
                            <hr>

                            <strong class="course-label">Assistant Superitendent Name:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].AsstCheifSuperitendentName}}
                            </span>
                            <hr>
                            <strong class="course-label">Assistant Superitendent Mobile Number:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].AsstCheifSuperitendentMobile}}
                            </span>
                            <hr>
                            <strong class="course-label">Assistant Superitendent Email:</strong>
                            <span class="text-muted word-break fl-right">
                                {{DeleteData[0].AsstCheifSuperitendentEmail}}
                            </span>
                            <hr>

                            <strong class="course-label">Active Status:</strong>
                            <p class="text-muted fl-right">

                                <button class="btn btn-success btn-xs" ng-show="DeleteData[0].Active == true">Yes</button>
                                <button class="btn btn-danger btn-xs" ng-show="DeleteData[0].Active == false">No</button>
                            </p>

                        </div>

                    </div>


                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="DeleteDetails(DeleteData)">Delete</button>
        <button type="button" class="btn btn-primary" ng-click="closeModal1()">Cancel</button>
    </div>
</div>

