<style>
    input[type=checkbox] {
        margin: 4px 0 0;
        width: 20px;
        margin: 0px 10px !important;
        padding: 0px 10px;
        height: 20px;
    }
</style>
<script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {

            $('#example1').datepicker({
                minViewMode: 'years',
                autoclose: true,
                format: 'yyyy'
            });
            $('#example2').datepicker({
                minViewMode: 1,
                autoclose: true,
                format: 'mm-yyyy'
            });
            $('.tabledate').datepicker({
                //minViewMode: 1,
                autoclose: true,
                format: 'dd-mm-yyyy'
            });
            //$('#example4').datepicker({
            //    //minViewMode: 1,
            //    autoclose: true,
            //    //format: 'dd-mm-yyyy'
            //});
        });
</script>
<style>
    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
        z-index: 2;
        margin-left: -1px;
        padding: 9px 12px;
    }
</style>
<!--<link href="../../../assets/css/bootstrap.min.css" rel="stylesheet" />-->


<div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Edit RecentNews</h2>
        <button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form>
            <!--<div style="background-color:#fff!important;" ng-repeat="x in EditDistCordCentresTable" class="ng-scope">-->

            <div class="form-group">
                <div class="form-group required">
                    <label for="date-picker-example">Start Date(dd/mm/yyyy):</label>
                    <p class="input-group" style="margin-top: unset; margin-bottom: unset;margin-left: 0 ;margin-right: 0;padding-left: 0px;">
                        <input type="text" show-weeks="false" class="form-control" id="datetimepicker1" placeholder="Please Enter StartDate" autocomplete="off" name="StartDate" pattern="^(\d{1,2})\/(\d{1,2})\/(\d{4})$" datetime-picker="dd/MM/yyyy" ng-model="EditData.FromDate" is-open="showFlag1" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="showFlag1 = true"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group required">
                    <label for="date-picker-example">End Date(dd/mm/yyyy):</label>
                    <p class="input-group" style="margin-top: unset; margin-bottom: unset;margin-left: 0 ;margin-right: 0;padding-left: 0px;">
                        <input type="text" show-weeks="false" class="form-control" id="datetimepicker2" placeholder="Please Enter EndDate" autocomplete="off" name="EndDate" pattern="^(\d{1,2})\/(\d{1,2})\/(\d{4})$" datetime-picker="dd/MM/yyyy" ng-model="EditData.ToDate" is-open="showFlag2" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="showFlag2 = true"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="message-text" class="col-form-label">RecentNews Message:</label>
                <input type="text" class="form-control" id="recipient-name" ng-model="EditData.RecentNewsText">
            </div>


            <div >
                <label for="checkbox" class="col-form-label">Active:</label>
                <input type="checkbox" ng-model="EditData.Active" />
            </div>
            <!--</div>-->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="Update(EditData)">Update</button>
        <button type="button" class="btn btn-secondary" ng-click="closeModal()">Cancel</button>
    </div>
</div>

